body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 246, 250);
}

h1 {
    text-align: center;
    color: #144284;
}

header {
    .flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        padding: 1.5rem;
        background-color: rgb(20, 87, 132);

        img {
            width: 350px;
        }

        .nav {
            color: #fff
        }
    }
}

.items {
    .item {
        display: flex;
        margin: 2rem;
        background-color: rgba(95, 144, 172, 0.466);
        border-radius: 20px;

        img {
            max-width: 300px;
            max-height: 300px;
        }

        .item-details {
            color: #fff;
            padding: 2rem;

            a {
                text-decoration: underline;
                color: #fff;
                font-size: 23px;
            }

            span {
                text-decoration: line-through;
                color: #C76161;
            }
        }
    }
}

.matelas-wrapper {
    display: flex;

    .matelas-left-wrapper {
        padding-right: 3rem;

        img {
            max-width: 50vw;
        }
    }

    .matelas-right-wrapper {
        span {
            text-decoration: line-through;
            color: #C76161;
            font-weight: bold;
        }

        .matelas-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                margin: 1rem;
                padding: 1rem;
                border-radius: 10px;
                border: 0.1px solid rgb(136, 139, 139);
                color: #fff;
                cursor: pointer;
            }

            .delete {
                background-color: rgb(199, 97, 97);
                box-shadow: inset 5px -5px 10px rgb(138, 59, 59);

            }

            .edit {
                background-color: rgb(150, 229, 143);
                box-shadow: inset 5px -5px 10px rgb(84, 143, 79);
            }

        }
    }
}

.form-data {
    form {
        margin-top: 1rem;

        display: flex;
        flex-wrap: wrap;

        .btn-edit {
            font-size: 1.2rem;
            background-color: #145784;
            color: white;
            padding: 1rem 2rem;
            margin: 1rem auto;
            text-transform: uppercase;
            border: 0;
            border-radius: 2rem;
        }

        .form-group {
            flex-basis: 100%;

            padding: 0 3rem;
            margin-bottom: 2rem;

            label {
                display: block;
                margin-bottom: 1rem;
            }

            input,
            textarea,
            select {
                display: block;
                width: 100%;
                padding: 1rem;
                border-radius: 2rem;
                border: 0;
                box-shadow: 0 0 1rem #ddd;
            }


        }
    }
}